<div>
      <!--Body content-->
	  Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="personA">person A</option>
        <option value="personB">person B</option>
      </select>
      
      <table class="table table-hover">
      	<thead>
      		<tr>
				<th>person A</th>
				<th>person B</th>
				<th>Contact</th>
			</tr>
      	</thead>
		<tbody>
		<tr ng-repeat="partner in partners | filter:query | orderBy:orderProp" >
			<td>{{partner.personA}}</td>
			<td>{{partner.personB}}</td>
			<td>{{partner.contactPerson}}</td>
			<td> 
				{{partner.status | timeoutStatus}}
				<button ng-click="removeTimeout(partner.personA)">remove</button>
	       	</td>
		</tr>
		</tbody>
	  </table>
	  
	  {{error}}
</div>